body {
  margin: 0;
  font-family: "Proxima Nova", sans-serif;
  background: #f8f9fa;
}

main {
  padding: 2rem;
}

h1 {
  font-family: "magistral", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}


#__next-build-watcher,
.nextjs-portal {
  display: none !important;
}

[data-next-dev-overlay-root],
.nextjs-portal {
  display: none !important;
}