body {
  margin: 0;
  font-family: "Proxima Nova", sans-serif;
  background: #f8f9fa;
}

main {
  padding: 2rem;
}


#__next-build-watcher,
.nextjs-portal {
  display: none !important;
}

[data-next-dev-overlay-root],
.nextjs-portal {
  display: none !important;
}